rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public creation of appointments, and server-side management.
    match /appointments/{appointmentId} {
      allow read: if true; // Needed for calendar queries
      allow list: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }

    // Allow server-side management of transactions.
    match /transactions/{transactionId} {
      allow read: if true;
      allow list: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }

    // Allow server-side management of products.
    match /products/{productId} {
      allow read: if true;
      allow list: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }
    
    // Allow server-side management of customers.
    match /customers/{customerId} {
       allow read: if true;
       allow list: if true;
       allow create: if true;
       allow update: if true;
       allow delete: if true;
    }
    
    // Allow anyone to read and write to the team collection for admin purposes.
    match /team/{memberId} {
       allow read: if true;
       allow write: if true;
    }
    
    // Allow public read for notifications, and server-side management.
    match /notifications/{notificationId} {
       allow read: if true;
       allow list: if true;
       allow create: if true;
       allow update: if true;
       allow delete: if true;
    }
  }
}
